APP_ENV=production
APP_DEBUG=0
APP_BASE_PATH=/liuyanban
APP_TIMEZONE=Asia/Shanghai
APP_SESSION_NAME=LIUYANBANSESSID

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=zhidui_nantong
DB_USERNAME=liuyanban_app
DB_PASSWORD=CHANGE_ME_STRONG_PASSWORD
DB_TIMEZONE=+08:00

ADMIN_TABLE=admin
ADMIN_ID_COLUMN=id
ADMIN_USERNAME_COLUMN=username
ADMIN_PASSWORD_COLUMN=password
ADMIN_TYPE_COLUMN=user_type
ADMIN_ALLOWED_TYPES=1
ADMIN_PASSWORD_DRIVER=bcrypt
